
@media screen and (min-width: 20em) {

  #feira-adocao {
    padding-top: 8em;
  }

  .feira-adocao-title {
    display: block;
    border-bottom: 3px solid #569b46;
    margin-bottom: 1em;
    text-align: center;
   
  }

  .feira-adocao-title .title,
  .feira-adocao-title .title2 {
    text-transform: uppercase;
    color: #569b46;
    margin-bottom: 0.3em;
    font-family: 'Times New Roman', Times, serif;
  }

  .feira-adocao-title .title {
    font-size: 2.5em;
  }

  .feira-adocao-title .title2 {
    font-size: 1.8em;
  }

  .feira-adocao-paragafo {
    margin: 0 0.8em;
  }

  .feira-adocao-localizacao strong {
    font-size: 1.5em;
  }

  .feira-adocao-localizacao{
    font-size: 1.5em;
  }

  .feira-adocao-localizacao span{
    font-size: 1em;
    display: block;
    margin: 0.4em 0 0 0;
  }

  .feira-adocao-localizacao span strong{
    font-size: 1.5em;
  }

  .feira-adocao-observacao{
    text-align: justify;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #redes-sociais {
    display: none;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
  }
  
  .gallery-items {
    width: 340px;
    height: 340px;
    transform: scale(0.9);
    border: 10px solid #569b46;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s ease-in;
  }
  
  .gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
  }
  
  .gallery-items:hover {
    transform: scale(1);
  }

}

@media screen and (min-width: 48em) {
  #feira-adocao {
    padding-top: 4em;
  }

  #redes-sociais {
    display: none;
  }

  .feira-adocao-text{
		font-size: 1.5em;
		font-family: sans-serif;
		margin-bottom: 1em;

}

@media screen and (min-width: 64em) {
  #feira-adocao {
    padding-top: 4em;
  }

  #redes-sociais {
    display: block;
  }

  #conteudo {
    margin-top: 14em;
  }
}
}