* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: #000000;
}


main {
    min-height: 100vh;
    justify-content: center;
    background-image: linear-gradient(to bottom, #eee, #ddd);
    padding: 2em 0 2em 0;
}


.container {
    max-width: 2280px;
    margin: auto;
}